<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.con" connectionString="Data Source=fachasasys.mssql.somee.com;Initial Catalog=fachasasys;Persist Security Info=True;User ID=vicman1890_SQLLogin_1;Password=s2beuvocc6"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>