<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
    <connectionStrings>
        <add name="FACHASA.Properties.Settings.con" connectionString="Data Source=DACA-VCHAVEZ\BD_TEST;Initial Catalog=SigVentas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
